<h4 class="ui top attached header">
        {{.ModuleName}}
</h4>
<div class="ui attached segment">
        <form class="ui form" action="{{.ModuleSubUrl}}/{{.ModuleName}}/global_setting" method="post">
                {{.CsrfTokenHtml}}
                <div class="required field">
                        <label for="app_id">AppId</label>
                        <input id="app_id" name="app_id" value='{{index .ModuleSetting "AppId"}}' data-name='{{index .ModuleSetting "AppId"}}' autofocus required>
                </div>
                <div class="required field">
                        <label for="app_secret">AppSecret</label>
                        <input id="app_secret" name="app_secret" value='{{index .ModuleSetting "AppSecret"}}' data-name='{{index .ModuleSetting "AppSecret"}}' autofocus required>
                </div>
                <div class="required field">
                        <label for="token">Token</label>
                        <input id="token" name="token" value='{{index .ModuleSetting "Token"}}' data-name='{{index .ModuleSetting "Token"}}' autofocus required>
                </div>
                <div class="field">
                        <button class="ui green button">Update Setting</button>
                </div>
        </form>
</div>

