<h4 class="ui top attached header">
        {{.ModuleName}}
</h4>
<div class="ui attached segment">
        <div class="ui email list">
                <div class="ui card">
                        <a id="wechat-qrcode" class="image poping up" href="{{.RedirectSubUrl}}/qrcode">
                                <img src="{{.RedirectSubUrl}}/qrcode" title="qrcode">
                        </a>
                </div>
        </div>
</div>

